body {
    font-family: Arial;
}

tr td{ 
    vertical-align: top;
}

thead tr td, tbody tr td {
    padding: 0.3em;
    text-align: center;
}

thead .crt {
    background: rgb(152, 18, 18);
    color: white;
}

tbody .crt {
    color: rgb(152, 18, 18);
}

thead .hgh {
    background: red;
    color: white;
}

tbody .hgh {
    color: red;
}

thead .err {
    background: rgb(248, 107, 107);
    color: white;
}

tbody .err {
    color: rgb(248, 107, 107);
}

thead .war {
    background: yellow; 
}  

thead .med, tbody .med {
    color: rgb(200, 200, 83); 
}  

thead .low {
    background: rgb(172, 172, 172);  
} 

tbody .low {
    color: rgb(172, 172, 172);  
} 

.code-scanning-details thead tr td{
    text-align: center;
    font-weight: bold;
}