<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>SAST for /name/test</title>
</head>
<body>
    <h1>Scan run at: 2022-12-12 31:12:12 - [/repo/name/test] - latest checking commit - []</h1>
    <h2>Scan results: <span>Warning</span></h2>
    
    <table>
        <thead>
            <tr>
                <th>Level</th>
                <th>Number of alerts</th>
                <th>Rule</th>
                <th>Message</th>
            </tr>
        </thead>
    </table>
</body>
</html>